{% extends 'base.html' %}
{% block content %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="prompt" class="form-label">
                Search for Movie:
            </label>
            <input
                type="text"
                class="form-control"
                id="prompt"
                name="prompt"
                value="{{ prompt }}"
            />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if prompt %}
        <p>Searching for: {{ prompt }}</p>
    {% endif %}

    <div class="col">
        <div class="card">
            <div class="row g-0">

                <div class="col-md-4">
                    {% if best_movie.image %}
                        <img src="{{ best_movie.image.url }}" 
                            class="img-fluid rounded-start h-100" 
                            style="object-fit: cover;">
                    {% endif %}
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{ best_movie.title }}</h5>
                        <p class="card-text">{{ best_movie.description }}</p>
                        <p class="card-text">{{ best_movie.genre }}</p>
                        <p class="card-text">{{ best_movie.year }}</p>
                        <p class="card-text">Similarity: {{ max_similarity|floatformat:4 }}</p>

                        {% if best_movie.url %}
                            <a href="{{ best_movie.url }}" class="btn btn-primary">
                                Movie Link
                            </a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock content %}